@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

body {
    background-color: #4E4E56;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: white;
  }

.fit {
    max-width: 99%;
    max-height: 99%;
}

h1 {
    margin-top: 2vw;
    font-size: 3vw;
}

p {
    font-size: 1.3vw;
    margin-top: 0;
}

img {
    position: relative;
    margin-top: 2vw;
    border-radius: 2vw;
}

button {
    position: absolute;
    top: 1vw;
    left: 1vw;
    padding: 3vw;
    background-image: url("../disc.png") no-repeat scroll 0 0 transparent;
}