@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

body {
    background-color: #4E4E56;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: white;

  }

h1 {
    margin-top: 2vw;
    font-size: 3vw;
}

p {
    font-size: 1.3vw;
}


.fit {
    max-width: 99%;
    max-height: 99%;
    position: relative;
    border-radius: 2vw;
    margin-top: 1vw;
}

.btn {
    position: absolute;
    background-color: transparent;
    top: 1vw;
    left: 1vw;
    background-image:url('disc.png') 10px 10px no-repeat;
    width: 9vw;
    height: 9vw;
    border-radius: 1vw;
    box-shadow: inset 5px 5px 12px #1f1f22,
            inset -5px -5px 12px #7d7d8a;
    border: none;
}
.btn:hover {
    background-color: #27272c;
    cursor: pointer;
    box-shadow: inset 5px 5px 12px #1f1f22,
            inset -5px -5px 12px #7d7d8a;
}


#buttonpic {
    position: absolute;
    background: transparent;
    margin-top: -3.7vw;
    margin-left: -4vw;
    width: 8vw;
    height: 8vw;
}

#names {
    text-align: left;
    font-size: 2vh;
}

#nameContainer {
    margin-left: 2vw;
    margin-top: 2vw;
}

.line {
    margin-top: 50px;
    margin-left: 1vw;
    margin-right: 1vw;
    border:10px solid #FFF;
    fill: tomato;
    fill-opacity: 1;
}

.section {
    text-align: center;
    text-decoration: underline;
}