@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

body {
    background-color: #4E4E56;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: white;
  }

.fit {
    max-width: 99%;
    max-height: 99%;
}

h1 {
    margin-top: 2vw;
    font-size: 3vw;
}

p {
    font-size: 1.3vw;
    margin-top: 0;
}

img {
    position: relative;
    margin-top: 2vw;
    border-radius: 2vw;
}

.btn {
    position: absolute;
    background-color: transparent;
    top: 1vw;
    left: 1vw;
    background-image:url('disc.png') 10px 10px no-repeat;
    width: 9vw;
    height: 9vw;
    border-radius: 1vw;
}

.btn:hover {background-color: #27272c}

.immg {
    position: absolute;
    background: transparent;
    margin-top: -3.7vw;
    margin-left: -4vw;
    width: 8vw;
    height: 8vw;
}