@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

/* GENERAL */
body {
    background-color: #4E4E56;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: white;
  }

h1 {
    margin-top: 2vw;
    font-size: 3vw;
}

p {
    font-size: 1.3vw;
}

/*MAIN PICTURE*/
.fit {
    max-width: 99%;
    max-height: 99%;
    position: relative;
    border-radius: 2vw;
    margin-top: 1vw;
}


/*DISCORD BUTTON*/
.btnd {
    position: absolute;
    background-color: transparent;
    top: 1vw;
    left: 1vw;
    background-image:url('disc.png') 10px 10px no-repeat;
    width: 9vw;
    height: 9vw;
    border-radius: 1vw;
    box-shadow: inset 5px 5px 12px #1f1f22,
            inset -5px -5px 12px #7d7d8a;
    border: none;
}
.btnd:hover {
    cursor: pointer;
    filter: brightness(120%);
}
#buttondpic {
    position: absolute;
    background: transparent;
    margin-top: -3.7vw;
    margin-left: -4vw;
    width: 8vw;
    height: 8vw;
    filter: brightness(80%);
}

.hidden {
    display: none;
}
.myDIV:hover + .hidden {
    display: block;
}
#discordImageText {
    position: absolute;
    margin-top: -5vw;
    margin-left: 11vw;
    text-align: left;
}


/*NAMES*/
#names {
    text-align: left;
    font-size: 2vh;
}

#nameContainer {
    margin-left: 2vw;
    margin-top: 2vw;
}

.line {
    margin-top: 50px;
    margin-left: 1vw;
    margin-right: 1vw;
    border:10px solid #FFF;
    fill: tomato;
    fill-opacity: 1;
}

.section {
    text-align: center;
    text-decoration: underline;
}



.btnm {
    position: absolute;
    background-color: transparent;
    top: 1vw;
    right: 1vw;
    background-image:url('disc.png') 10px 10px no-repeat;
    width: 9vw;
    height: 9vw;
    border-radius: 1vw;
    box-shadow: inset 5px 5px 12px #1f1f22,
            inset -5px -5px 12px #7d7d8a;
    border: none;
}

#musicBttn {
    position: absolute;
}
.btnm:hover {
    cursor: pointer;
    filter: brightness(120%);
}
#buttonmpic {
    position: absolute;
    background: transparent;
    margin-top: -3.7vw;
    margin-left: -4vw;
    padding: 0.5vw;
    width: 7vw;
    height: 7vw;
    filter: brightness(80%);
}
#musicImageText {
    position: absolute;
    margin-top: -5vw;
    right: 11vw;
    text-align: right;
}
  






